<tr>
  <td><strong><%= name %></strong></td>
  <td>
    <div class="progress">
      <div class="progress-bar" style="width: <%= (fact.to_f / budget) * 100 %>%;"></div>
    </div>
  </td>
  <td>$<%= number_with_precision(fact, precision: 0) %> / $<%= number_with_precision(budget, precision: 0) %></td>
</tr>
