<section class="main-page">
  <h1 class="main-title"></h1>

  <table class="budget-progress">
    <tr>
      <td><strong>Categories</strong></td>
      <td><strong></strong></td>
      <td><strong></strong></td>
    </tr>

    <% @budget_categories.each do |category| %>
      <% budget_amount = category.budget_amount.to_f %>
      <% fact_amount = category.fact_amount.to_f %>
            
      <%= render 'category', name: category.category.name, budget: budget_amount, fact: fact_amount %>
    <% end %>
  </table>
</section>
