
<section class="main-page">
<h1 class="main-title">JUNE 2024</h1>


<table class="budget-progress">
  <tr>
    <td><strong>Car</strong></td>
    <td>
      <div class = "progress" >
      <div class ="progress-bar" style = "width:80%"></div>
    </td>
    <td>$80/$100</td>
  </tr>

  <tr>
    <td><strong>Entertainment</strong></td>
    <td>
      <div class = "progress">
      <div class ="progress-bar" style = "width:10%"></div>
    </td>
    <td>$20/$200</td>
  </tr>

  <tr>
    <td><strong>rent</strong></td>
    <td>
      <div class = "progress">
      <div class ="progress-bar" style = "width:120%"></div>
    </td>
    <td>$2000/$2000</td>
  </tr>

</table>

</section>