# app/views/budgets/show.html.erb
<div id="<%= dom_id budget %>">
  <p>
    <strong>Category:</strong>
    <%= budget.category.name %>
  </p>

  <p>
    <strong>Budget amount:</strong>
    <%= humanized_money_with_symbol(budget.budget_amount) %>
  </p>

  <p>
    <strong>Fact amount:</strong>
    <%= humanized_money_with_symbol(budget.fact_amount) %>
  </p>
</div>
