.budgets {
  border: 2px solid;
  border-radius: 10px;
  margin-top: 2em;
  padding-bottom: 1em;
  
  .row {
    padding: 0.25em 0;
  }

  .budget:nth-of-type(odd) {
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
  }

  .budget:nth-of-type(even) {
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  
  .container {
    padding: 0;
    width: 95%;
    margin: auto;
    margin-top: auto;
  }
}

.transactions {
  border: 2px solid;
  border-radius: 10px;
  margin-top: 1em;
  padding-bottom: 1em;
  
  .row {
    padding: 0.25em 0;
  }
  
  .transaction:nth-of-type(odd) {
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
  }

  .transaction:nth-of-type(even) {
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  
  .container {
    padding: 0;
    width: 95%;
    margin: auto;
    margin-top: auto;
  }
}

.transactions-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  .btn {
    margin: 0.5em;
  }
}

.budget-info {
  display: flex;
  flex-direction: row;
  gap: 1em;

  .side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(69, 69, 70);
    font-size: large;
    flex: 1;
    margin-top: 2em;

    .side-bar-budget {
      border-radius: 0.15em;
      border-bottom: 3px solid rgb(101, 101, 102);
      text-align: center;
      padding: 0.5rem;
      margin: 0.5rem;
      color: black;
    }
  }

  .budgets {
    flex: 4;
  }
}
