

.main-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(37, 37, 37);
  font-size: x-large;

  .budget-total {
    padding-bottom: 5rem;
  }

  .progress-total {
    border-radius: 0.8em;
    background-color: rgb(233, 233, 233);
    height: 30px;
    width: 45rem;
  }

  .progress-bar-total {
    border-radius: 0.8em;
    height:30px;
  }


  .main-title {
    padding: 2.5rem;
  }

  .budget-progress {
    font-size: x-large;

    .progress {
      height: 20px;
      width: 45rem;
    }

    .progress-bar {
      height:20px;
    }

    tr {
      border-radius: 0.5em;
      border-bottom: 3px solid rgb(161, 162, 163);

      td {
        padding: 1rem;
      }  
    }
  

}  
}

.hidden {
  display: none;
}

