

.main-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(37, 37, 37);

  .main-title {
    padding: 2.5rem;
  }

  .budget-progress {
    font-size: x-large;

    .progress {
      height: 20px;
      width: 45rem;
    }

    .progress-bar {
      height:20px;
    }

    tr {
      border-radius: 0.5em;
      border-bottom: 3px solid rgb(161, 162, 163);

      td {
        padding: 1rem;
      }  
    }
    


}  
}


