<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div class="transactions">
  <div class="container text-center">
    <% @transactions.each do |transaction| %>
      <%= render transaction %>
    <% end %>
  </div>
</div>

<%= link_to "New transaction", new_transaction_path %>
