<%= turbo_frame_tag "modal" do %>
  <div class="bob">

    <div>
      <%= link_to "X", "#", data: { controller: "modals", action: "modals#close" }, class: "cancel-button" %>
    </div>

    <h1>New transaction</h1>

    <%= render "form", transaction: @transaction %>
  </div>

<% end %> 
