
<div id="<%= dom_id account %>" class="account">
  <div class="account-name">
    <strong><%= account.name %></strong>
  </div>

  <div class="balance">
    <%= humanized_money_with_symbol(account.current_balance) %>
  </div>
</div>
