
<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Current balance:</strong>
    <%= humanized_money_with_symbol(account.current_balance) %>
  </p>
</div>
