<p style="color: green"><%= notice %></p>

<div class="account-title">
  <h1><strong>Visa</strong> - Credit</h1S>
  <%= link_to "Edit this account", edit_account_path(@account), class:"btn btn-outline-primary" %>
</div>

<section class="account-info">

  <div class="side-bar">
    <div class="accounts-menu">
      <div class="side-bar-account">Accounts</div>
      <div class="side-bar-account">Savigns</div>
      <div class="side-bar-account">VISA</div>
      <div class="side-bar-account">MC</div>
      <div class="side-bar-account">VISA</div>
    </div>
  </div>

  <atricle class="account-contents">
    <div>
      <h2 class="account-title">
      

    </div>

  </article>

</section>